.asd{
    background-color: rgb(23, 26, 27);
    width: 210vh;
    margin-left: -8px;
    height: 6vh;
    margin-top: -8px;
    border: 2px red;
}
#fgh{
    width: 26px;
    margin-left: 115px;
    margin-top: 5px;
}
li a{
    padding: 1px;
    color: #6c4e4e;
    text-decoration: none;
    border-radius: 10px;
}
li{
    list-style: none;
    margin: 15px;
    border-radius: 20px;
}
.ghj{
    display: flex;
    justify-content: start;
    margin-top: -40px;
    margin-left: 127px;
    color: white;
}
#cvb{
    margin-left: 12px;
    margin-top: 5px;
}
#bnm{
    width: 78px;
}
#plm{
    width: 78px;
    margin-left: 131px;
    margin-top: -159px;
}
#nbv{
    margin-left: 137px;
    margin-top: 22px;
}
#hjk{
    margin-left: 245px;
    margin-top: -161px;
}
#asd{
    margin-left: 258px;
    margin-top: 23x;
}
#zxc{
    margin-left: 816px;
    margin-top: -150px;
}
#fds{
    margin-left: 382px;
}
#jkl{
    margin-left: 492px;
    margin-top: -145px;
}
#iop{
    margin-left: 506px;
    margin-top: 22px;
}
#uoi{
    margin-top: -163px;
    margin-left: 604px;
}
#klj{
    margin-left: 623px;
    margin-top: 28px;
}
#fdg{
    margin-left: 714px;
    margin-top: -130px;   
}
#cfg{
    margin-left: 729px;
    margin-top: 26px;
}
#rtg{
    width: 85px;
}
#tyg{
    margin-left: 828px;
    margin-top: -22px;
}
#zxd{
    margin-left: 372px;
    margin-top: -152px;
}
#wer{
    margin-left: 944px;
    margin-top: -129px;
}
#rfc{
    margin-left: 974px;
    margin-top: -6px;
}
.girl{
    margin-top: 95px;
}
#manali{
    text-align: center;
    font-size: x-large;
}
#preeti{
    text-align: center;
    font-size: xx-large;
}
#sayali{
    text-align: center;
    color: lightcoral;
    font-size: xxx-large;
}
#sonali{
    text-align: center;
}
#prito{
    box-sizing: content-box;
    background-color: deepskyblue;
    color: floralwhite;
    font-size: larger;
    border-style: none;
    align-content: center;
    align-items: center;
    margin-left: 493px;
    margin-top: 35px;
    cursor: pointer;
    border-radius: 50%;
    width: 48px;
    height: 37px;
}
#nage{
    margin-left: 612px;
    margin-top: -32px;
    color: cornflowerblue;
    cursor: pointer;
}
#large{
    width: 481px;
    align-items: flex-end;
    margin-left: 580px;
    margin-top: 48px;
}
#king{
    width: 425px;
    margin-top: -710px;
    margin-left: 138px;
}
.wife{
    background-color: black;
}
#makad{
    color: white;
    text-align: center;
    font-size: x-large;
}
#nayak{
    color: white;
    text-align: center;
}
#badhir{
    color:cornflowerblue;
    text-align: center;
    margin-left: -156px;
    cursor: pointer;
}
#pig{
    color: cornflowerblue;
    text-align: center;
    margin-left: 155px;
    margin-top: -46px;
    cursor: pointer;
}
#ash{
    width: 980px;
    margin-left: 127px;
}
.watch{
    background-color: black;
    color: white;
    width: 221vh;
}
#man{
    margin-left: 231px;
}
#gui{
    margin-left: 196px;
}
#naj{
    margin-left: 209px;
    color: cornflowerblue;
}
#jay{
    margin-left: 346px;
    margin-top: -39px;
}
#yuv{
    width: 334px;
    margin-left: 140px;
    margin-top: 18px;
}
#duk{
    margin-left: 377px;
    margin-top: -80px;
    color: darkviolet;
    font-size: xx-large;
}
#krin{
    margin-left: 329px;
    font-size: -webkit-xxx-large;
}
#archu{
    margin-left: 248px;
    font-size: xx-large;   
}
#arcg{
    margin-left: 233px;
    font-size: xx-large;
    margin-top: -22px;
}
.tv4k{
    background-color: whitesmoke;
    width: 209vh;
    margin-left: 584px;
    margin-top: -436px;
}
#opl{
    margin-left: 281px;
    color: cornflowerblue;
    cursor: pointer;
}
#lpo{
    margin-left: 475px;
    margin-top: -47px;
    color: cornflowerblue;
    cursor: pointer;
}
#plo{
    margin-left: 294px;
    margin-top: -19px;
    width: 245px;
}
#m{
    margin-left: 256px;
    font-size: xx-large;
}
#a{
    margin-left: 285px;
    margin-top: -28px;
    color: orange;
}
#n{
    margin-left: 222px;
    font-size: x-large;
    margin-top: -14px;
}
#l{
    margin-left:184px;
    color: cornflowerblue;
}
#i{
    margin-left: 373px;
    margin-top: -47px;
    color: cornflowerblue;
    font-size: revert;
}
.ultra{
    width: 220vh;
}
#s{
    width: 561px;
    margin-top: 90px;
    margin-left: 12px;
}
#y{
    margin-left: 265px;
    font-size: xx-large;  
}
#fd{
    margin-left: 285px;
    margin-top: -28px;
    color: red; 
}
#e{
    margin-left: 222px;
    font-size: x-large;
    margin-top: -14px;  
}
#r{
    margin-left:184px;
    color: cornflowerblue;
}
#p{
    margin-left: 373px;
    margin-top: -47px;
    color: cornflowerblue;
    font-size: revert;   
}
.series{
    margin-left: 612px;
    width: 205vh;
    background-color: black;
    color: white;
    margin-top: -512px;
}
#pp{
    width: 344px;
    margin-top: 90px;
    margin-left: 162px;
}
#o{
    margin-left: 244px;
    font-size: xx-large; 
}
#k{
    margin-left: 268px;
    margin-top: -28px;
    color: black;   
}
#j{
    margin-left:184px;
    color: cornflowerblue;   
}
#d{
    margin-left: 373px;
    margin-top: -47px;
    color: cornflowerblue;
    font-size: revert;     
}
.padpro{
    width: 406vh;
    background-color: black;
    color: white;
}
#jh{
    margin-left: 532.2px;
    font-size: xx-large;
}
#h{
    margin-left: 490px;
    font-size: x-large;
    margin-top: -21px;
}
#t{
    margin-left: 461px;
    margin-top: 36px;
    color: cornflowerblue;
}
#k{
    margin-left: 670.5px;
    margin-top: -50px;
    color: cornflowerblue;
}
#kj{
    width: 1253px;
    animation-name: auto;
    animation-play-state: initial;
}
#zx{
    width: 166px;
    margin-left: 278px;
    margin-top: 44px;
}
.popup{
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.popup .popuptext{
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}
.popup .popuptext::after{
content: "";
position: absolute;
top: 100%;
left: 50%;
margin-left: -5px;
border-width: 5px;
border-style: solid;
border-color: #555 transparent transparent transparent;
}
.popup .show{
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}
@keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}
.smjk{
    width: 29vw;
        height: 360px;
        display: flex;
        justify-content: center;
        background-color:red;
        align-items: flex-end;
        border-width: 2px;
        border-style: solid;
        border-color: white;
        border-image: initial;
        background: url(./14\ pro\ larger\ frmae.jpg) center center / cover no-repeat;
        border-radius: 15px;
}
.smjk::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 24vw;
    height: 21vh;
    z-index: -1;
    background: url(./14\ pro\ larger\ frmae.jpg) center center / cover no-repeat;
    border-radius: 40px;
}
#air{
    width: 499px;
    margin-left: 355px;
    margin-top: 122px;
}
.pod{
    background-color: black;
    color: white;
}
#pl{
    margin-left: 489px;
}
#tr{
    width: -webkit-fill-available;
}
#bv{
    margin-left: 572px;
}